.back-btn {
  position: absolute;
  top: 55px;
  right: 0;

  width: 91px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffcc2d;
  margin-right: 4px;

  cursor: pointer;
  z-index: 1;
  overflow: hidden;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;

    display: block;

    z-index: -1;
    transition: 0.5s;

    color: #ffcc2d;
    background: #090808;
    transform: scale(0, 1);
  }

  &:hover {
    .back-btn__name {
      color: #ffcc2d;
    }
    .back-btn__icon svg path {
      stroke: #ffcc2d;
    }

    border: 3px solid #ffcc2d;

    &::after {
      transform: scale(4, 1);
    }
  }

  .back-btn__icon {
    width: 25%;
    margin-right: 5px;
  }

  .back-btn__name {
    color: #090808;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (max-width: 1500px) {
  .back-btn {
    top: 51px;
    margin: 0;
  }
}
