.back-btn {
  position: absolute;
  top: 55px;
  right: 0;

  width: 91px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background: #ffcc2d;
  margin-right: 4px;

  cursor: pointer;

  .back-btn__icon {
    width: 25%;
  }

  .back-btn__name {
    color: #090808;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (max-width: 1500px) {
  .back-btn {
    top: 51px;
    margin: 0;
  }
}

@media screen and (max-width: 750px) {
  .back-btn {
    right: unset;
    top: 47px;
  }
}
