.back-btn {
  position: absolute;
  top: 55px;
  right: 0;

  width: 91px;
  height: 32px;

  background: #ffcc2d;
  color: #090808;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  cursor: pointer;
}
