-
  var history = ['Главная', 'Умная площадка']
  var programs = [
    {name: 'Разминка', complex: {duration:'10-15 мин.', countOfExercises: 8}, image: 'images/warm-up.png'},
    {name: 'Программа 1', complex: {duration:'3 недели', countOfExercises: 6}, image: 'images/program1.png'},
    {name: 'Программа 2', complex: {duration:'6 недель', countOfExercises: 10}, image: 'images/program2.png'}
  ]

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Smart platform
  body 
    include ../../components/header/header.pug
    main(class="page index-page")
      .page__history
        each hist_item in history
          span(class="history__item")= hist_item
      h1(class="page__title index-page__title") УМНАЯ СПОРТИВНАЯ ПЛОЩАДКА 
        span(class="change-wrap") по приказу 
        | №107 ОТ 23.03.2022
      p(class="page__description index-page__description") Уличная площадка с тренажерным комплексом из 21 тренажера. Для&nbsp;иллюстрации упражнений лучше конечно использовать анимацию, пусть и простую. Сможем ли мы получить исходники изображений в векторе (svg)? Нам так было бы удобнее делать анимацию. Размер изображений для разных упражнений должен быть одинаковый по размеру и пропорциям. Для каждого изображений одного упражнения - оборудование должно быть неподвижно и находиться в одном месте
      button(class="btn btn_main btn_yellow index-page__btn") Оборудование в каталоге

      .programs 
        include ../../components/program/program.pug
        each program in programs 
          +Program(program)

