.program1-page {
  position: relative;
  max-width: 1653px;

  .program1-page__title {
    margin: 22px 0;

    .program1-page__title-footer {
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      text-transform: lowercase;
    }
  }

  .program1-page__btn {
    margin: 20px 0;
  }

  .program1-page__exercises {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 30px;
    margin: 60px 0;
  }
}

@media screen and (max-width: 1500px) {
  .program1-page {
    .program1-page__exercises {
      grid-gap: 18px;
    }

    .program1-page__history {
      padding: 8px 0;
    }

    .program1-page__title {
      margin: 12px 0;
    }

    .program1-page__description {
      margin: 30px 0;
    }

    .program1-page__btn {
      margin: 0;
    }
  }
}

@media screen and (max-width: 750px) {
  .program1-page {
    .program1-page__exercises {
      margin: 34px 0;
      grid-gap: 19px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
}

@media screen and (max-width: 550px) {
  .program1-page {
    .program1-page__history {
      padding: 14px 0;
    }

    .program1-page__title {
      margin: 48px 0 0 0;
      font-size: 26px;
      line-height: 36px;

      .program1-page__title-footer {
        font-size: 12px;
      }
    }

    .program1-page__description {
      width: 100%;
      height: unset;
      margin: 16px 0;
      line-height: 153%;
    }

    .program1-page__exercises {
      margin: 34px 0;
      grid-gap: 19px;
      grid-template-columns: repeat(auto-fit, minmax(131px, 1fr));
    }

    .program1-page__btn {
      display: none;
    }
  }
}
