button {
  outline: none;
  border: none;
}

.btn {
  position: relative;

  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  font-family: "Manrope";

  z-index: 1;
  cursor: pointer;
  overflow: hidden;

  &::after {
    content: "";

    position: absolute;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;

    display: block;

    z-index: -1;
    transition: 0.5s;
    transform: skewX(-45deg) scale(0, 1);
  }

  &:hover::after {
    transform: skewX(-45deg) scale(0.75, 0.9);
  }

  &.btn_yellow {
    background: #ffcc2d;
    font-weight: 600;

    &::after {
      // backgrounhsl(45, 100%, 59%)fff;
      background: #000000;
      color: #ffcc2d;
    }

    &:hover {
      color: #ffcc2d;
    }
  }

  &.btn_black {
    background: #090808;
    color: white;
    font-weight: 800;

    z-index: 1;
    transition: 0.5s;

    &::after {
      // background: #ffffff;
      background: #ffcc2d;
      color: #000000;
    }

    &:hover {
      color: #000000;
    }
  }

  &.btn_main {
    width: 372px;
    height: 64px;
  }
  &.btn_header {
    width: 233px;
    height: 55px;
  }
}

.back-btn {
  width: 91px;
  height: 32px;

  background: #ffcc2d;
  color: #090808;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

@media screen and (max-width: 900px) {
  .btn {
    &.btn_main {
      width: 354px;
    }
  }
}

@media screen and (max-width: 768px) {
  .btn {
    &.btn_header {
      width: 187px;
      height: 47px;

      font-size: 16px;
      line-height: 22px;
    }
  }
}

@media screen and (max-width: 520px) {
  .btn {
    &.btn_header {
      width: 100%;
    }

    &.btn_main {
      width: 100%;
      height: 48px;
      text-transform: none;
      margin: 23px 0;
    }
  }
}
