.btn {
  outline: none;
  border: none;

  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  font-family: "Manrope";

  cursor: pointer;

  &.btn_yellow {
    background: #ffcc2d;
    font-weight: 600;
  }
  &.btn_black {
    position: relative;

    background: #090808;
    color: white;
    font-weight: 800;

    z-index: 1;
    transition: 0.5s;
    overflow: hidden;

    &::after {
      content: "";

      position: absolute;
      left: -20%;
      right: -20%;
      top: 0;
      bottom: 0;

      display: block;
      background: #ffffff;
      color: black;

      z-index: -1;
      transition: 0.5s;
      transform: skewX(-45deg) scale(0, 1);
    }

    &:hover {
      color: #000000;

      &::after {
        transform: skewX(-45deg) scale(0.75, 0.9);
      }
    }
  }

  &.btn_main {
    width: 370px;
    height: 64px;
  }
  &.btn_header {
    width: 233px;
    height: 55px;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    &.btn_header {
      width: 187px;
      height: 47px;

      font-size: 16px;
      line-height: 22px;
    }
  }
}

@media screen and (max-width: 520px) {
  .btn {
    &.btn_header {
      width: 100%;
    }
  }
}
