.page {
  width: 86%;
  max-width: 1650px;
  min-width: 280px;
  margin: 40px auto;

  .change-wrap {
    white-space: normal;
  }

  .page__history {
    display: flex;
    align-items: center;
    padding: 13px 3px;

    .history__item {
      font-weight: 500;
      font-size: 15px;
      line-height: 120%;
      color: #bdbdbd;

      margin-right: 20px;

      &:not(:last-child)::after {
        content: "";

        width: 8px;
        height: 8px;
        display: inline-block;

        border-bottom: 2px solid rgb(92, 92, 92);
        border-right: 2px solid rgb(92, 92, 92);
        transform: rotate(-45deg);
        margin-left: 26px;
      }
      &:last-child {
        color: #068145;
      }
    }
  }

  .page__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    text-transform: uppercase;
    color: #090808;
    text-align: left;

    margin: 11px 0;
  }

  .page__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #828282;

    margin: 20px 0;
  }
}

@media screen and (max-width: 900px) {
  .page {
    width: 94.8%;
    margin: 0 auto;

    .page__history {
      padding: 19px 0px;
    }

    .page__title {
      font-size: 36px;
      line-height: 49px;
      margin: 0;
    }

    .page__description {
      width: 91%;
      line-height: 25px;
      letter-spacing: 0.2px;
      margin: 9px 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .page {
    width: 88%;

    .change-wrap {
      white-space: nowrap;
    }

    .page__history {
      padding: 14px 0px;
    }

    .page__title {
      width: 80%;
      font-size: 20px;
      line-height: 27px;
      margin: 4px 0;
    }

    .page__description {
      height: 46px;
      overflow: hidden;

      font-size: 15px;
      line-height: 150%;
      letter-spacing: 0;
    }
  }
}
