* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-width: 320px;

  margin: 0;
  font-family: "Manrope";
}

textarea,
input,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none !important;
  border-radius: 0;
  -webkit-border-radius: 0px;
}
