.header {
  .header__search .search__btn {
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .header__user {
    .user__item {
      &.user__cart:hover .item__icon {
        animation-name: cartAnim;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(0.88, -0.87, 0.42, 1.53);
        animation-iteration-count: infinite;

        &::after {
          top: 4px;
          right: 6px;
          z-index: -1;
        }
      }
      &.user__like:hover .item__icon {
        animation-name: heartAnim;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        svg {
          fill: red;
        }
      }
      &.user__profile:hover .item__icon {
        transition: 0.3s;
        svg {
          & path:first-child {
            fill: #ffcc2d;
          }
          & path:last-child {
            fill: #3ea43b;
          }
        }
      }

      &:hover .item__name {
        font-weight: 600;
      }
    }
  }
}

@keyframes cartAnim {
  0% {
    transform: translateX(0);
  }
  39% {
    transform: translateX(200%);
    display: none;
  }
  40% {
    transform: translateX(-200%);
    display: block;
  }
  60% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes heartAnim {
  0% {
    transform: scale(1);
  }

  5% {
    transform: scale(1.3);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.3);
  }
  20% {
    transform: scale(1);
  }

  35% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.3);
  }
  45% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  55% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
