.exercise {
  position: relative;

  width: 100%;
  height: 382px;
  min-width: 355px;

  display: flex;
  align-items: flex-end;

  .exercise__icon-wrapper {
    position: absolute;

    .exercise__icon {
      width: 100%;
      display: inline-block;
    }

    &.exercise__icon_1 {
      width: 82%;
      top: 32px;
      left: 37px;
    }
    &.exercise__icon_2 {
      width: 61%;
      top: 37px;
      left: 82px;
    }
  }

  .exercise__description {
    width: 100%;
    height: 15.5%;

    background: #090808;
    padding: 12px 0;

    .exercise__name {
      width: 70%;

      color: white;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      text-align: left;

      margin-left: 39px;
      display: inline-block;
    }
  }
}

@media screen and (max-width: 1500px) {
  .exercise {
    height: 363px;

    .exercise__icon-wrapper {
      &.exercise__icon_1 {
        width: 89%;
        top: 14px;
        left: 19px;
      }
      &.exercise__icon_2 {
        width: 67%;
        top: 18px;
        left: 57px;
      }
    }

    .exercise__description {
      height: 16.5%;

      .exercise__name {
        width: 75%;
      }
    }
  }
}
