.exercise {
  position: relative;

  width: 100%;
  height: 382px;

  display: flex;
  align-items: flex-end;

  .exercise__icon-wrapper {
    position: absolute;

    .exercise__icon {
      height: 100%;
      display: inline-block;
    }

    &.exercise__icon_1 {
      height: 61%;
      top: 32px;
      left: 37px;
    }
    &.exercise__icon_2 {
      height: 59%;
      top: 37px;
      left: 82px;
    }
  }

  .exercise__description {
    width: 100%;
    height: 15.5%;

    background: #090808;
    padding: 12px 0;

    .exercise__name {
      width: 70%;

      color: white;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      text-align: left;

      margin-left: 39px;
      display: inline-block;
    }
  }
}

@media screen and (max-width: 1500px) {
  .exercise {
    height: 363px;

    .exercise__icon-wrapper {
      &.exercise__icon_1 {
        height: 63%;
        top: 14px;
        left: 19px;
      }
      &.exercise__icon_2 {
        height: 61%;
        top: 18px;
        left: 57px;
      }
    }

    .exercise__description {
      height: 16.5%;

      .exercise__name {
        width: 75%;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .exercise {
    height: 280px;

    .exercise__icon-wrapper {
      &.exercise__icon_1 {
        height: 55%;
        top: 12px;
        left: 13px;
      }
      &.exercise__icon_2 {
        height: 53%;
        top: 13px;
        left: 28px;
      }
    }

    .exercise__description {
      height: 16.5%;
      padding: 6px 0 12px 0;

      .exercise__name {
        width: 85%;

        font-size: 12px;
        margin-left: 14px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .exercise {
    height: 180px;
  }
}

@media screen and (max-width: 350px) {
  .exercise {
    height: 142px;
  }
}
